*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
#header h1{
    background-color: rgba(127, 255, 212, 0.512);
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
p{
    margin: 5px;
    text-align: center;
    font-size: large;
    color: rgb(85, 144, 146);
}